<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <h1>GET INTOUCH EACH AND EVERY DAY.</h1>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" color="red"> HOME</a><br>
       
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">BACK</a></li>
        </div>
        

    </div>
</div>